[Unit]
Description=HTML5 runtime for OpenIVI Mobility applications
After=weston.service
Requires=weston.service

[Service]
User=root
ExecStart=/usr/bin/openivi-html5.sh

[Install]
WantedBy=multi-user.target
